h1{
    color: #07c4dd
    font-size: 4em
    font-style:italic;
    text-align: center;
}
img{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

ol{
  font-style: italic;
}

.highlight {
    background: yellow;
}

li{
margin-bottom: 0.5em;
}
.content{
    margin:0 auto;
    padding: 2em;
    font-family: sans-serif;
}
.container{
    max-width: 750 px;
    margin: 0 auto;

}

#subtitle{
    font-style: italic;
    font-size: 0.75em;
}
